<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naver.member">
 	<select id="getTime" resultType="string">
 		select sysdate from dual
 	</select>
 	<!--불러오는건select
 	입력이면 insert삭제는 delete업데이트update  -->
 	<!--getTime메서드에 관한거라 아이디는 저걸로 해줌  
 	밑에는 sql문 적어주기
 	resultType string 소문자임-->
 	<select id="list" resultType="com.naver.dto.MemberDTO">
 		select * from member
 	</select>

</mapper>