<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naver.member">
 	<select id="getTime" resultType="string">
 		select sysdate from dual
 	</select>
 	<!--불러오는건select
 	입력이면 insert삭제는 delete업데이트update  -->
 	<!--getTime메서드에 관한거라 아이디는 저걸로 해줌  
 	밑에는 sql문 적어주기
 	resultType string 소문자임-->
 	<select id="list" resultType="com.naver.dto.MemberDTO">
 		select * from member
 	</select>
	<insert id="insert">
		insert into member (id, name, age) values (#{id}, #{name}, #{age})
		<!--물으표 역할하는게 샾중괄호  -->
	</insert>
	<select id="read" resultType="com.naver.dto.MemberDTO">
		select * from member where id=#{id}
		<!--맵이면 키값넣어줌  -->
	</select>
	<select id="updateui" resultType="com.naver.dto.MemberDTO">
		select * from member where id=#{id}
	</select>
		<update id="update">
		update member set name=#{name}, age=#{age} where id=#{id}
	</update>
	<delete id="delete">
		delete from member where id=#{id}
	</delete>

	
	
</mapper>